<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI - 채팅</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="../static/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="main">
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <div class="page-heading">
                            <h3>채팅</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/trader/traderIndex">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="divTableHeading">
                                        <div class="divTableRow">
                                            <div class="divTableHead">대화 내용</div>
                                        </div>
                                    </div>
                                    <div class="divTableBody">
                                        <div class="divTableRow">
                                            <div class="divTableCell" id="chat"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="divTable minimalistBlack">
                                    <div class="divTableBody">
                                        <div class="divTableRow">
                                            <div class="divTableCell">전달할 메시지</div>
                                            <div class="divTableCell">
                                                <input type="text" id="msg">
                                                <button id="btnSend">메시지 전송</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- JS -->
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/rjs/main.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/assets/js/scripts.js"></script>
<!-- jquery plugins here-->
<!-- jquery -->
<script src="/assets/js/jquery-1.12.1.min.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<!-- popper js -->
<script src="/assets/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/assets/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/assets/js/swiper.min.js"></script>
<!-- swiper js -->
<script src="/assets/js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/stellar.js"></script>
<script src="/assets/js/price_rangs.js"></script>
<!-- custom js -->
<script src="/assets/js/custom.js"></script>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="/assets/js/pages/dashboard.js"></script>

<script src="/assets/js/main.js"></script>
<script th:inline="javascript">

    let data = {};//전송 데이터(JSON)
    let ws; // 웹소켓 객체
    const roomName = /*[[${roomName}]]*/ ''; // 채팅룸 이름
    const customerId = /*[[${customerId}]]*/ ''; // 채팅유저 이름

    $(document).ready(function () {

        //웹소켓 객체를 생성하는중
        if (ws !== undefined && ws.readyState !== WebSocket.CLOSED) {
            console.log("WebSocket is already opened.");
            return;

        }

        // 접속 URL 예 : ws://localhost:10000/ws/테스트방/별명
        ws = new WebSocket("ws://" + location.host + "/ws/" + roomName + "/" + customerId);

        // 웹소켓 열기
        ws.onopen = function (event) {
            if (event.data === undefined)
                return;

            console.log(event.data)
        };

        //웹소캣으로부터 메세지를 받을 때마다 실행됨
        ws.onmessage = function (msg) {

            // 웹소켓으로부터 받은 데이터를 JSON 구조로 변환하기
            let data = JSON.parse(msg.data);

            if (data.name === customerId) { // 내가 발송한 채팅 메시지는 파란색 글씩
                $("#chat").append("<div>");
                $("#chat").append("<span style='color: blue'><b>[보낸 사람] : </b></span>");
                $("#chat").append("<span style='color: blue'> 나 </span>");
                $("#chat").append("<span style='color: blue'><b>[발송 메시지] : </b></span>");
                $("#chat").append("<span style='color: blue'>" + data.msg + " </span>");
                $("#chat").append("<span style='color: blue'><b>[발송시간] : </b></span>");
                $("#chat").append("<span style='color: blue'>" + data.date + " </span>");
                $("#chat").append("</div>");

            } else if (data.name === "관리자") { // 관리자가 발송한 채팅 메시지는 빨간색 글씩
                $("#chat").append("<div>");
                $("#chat").append("<span style='color: red'><b>[보낸 사람] : </b></span>");
                $("#chat").append("<span style='color: red'>" + data.name + "</span>");
                $("#chat").append("<span style='color: red'><b>[발송 메시지] : </b></span>");
                $("#chat").append("<span style='color: red'>" + data.msg + " </span>");
                $("#chat").append("<span style='color: red'><b>[발송시간] : </b></span>");
                $("#chat").append("<span style='color: red'>" + data.date + " </span>");
                $("#chat").append("</div>");

            } else {
                $("#chat").append("<div>"); // 그 외 채팅참여자들이 발송한 채팅 메시지는 검정색
                $("#chat").append("<span><b>[보낸 사람] : </b></span>");
                $("#chat").append("<span>" + data.name + " </span>");
                $("#chat").append("<span><b>[수신 메시지] : </b></span>");
                $("#chat").append("<span>" + data.msg + " </span>");
                $("#chat").append("<span><b>[발송시간] : </b></span>");
                $("#chat").append("<span>" + data.date + " </span>");
                $("#chat").append("</div>");

            }
        }

        $("#btnSend").on("click", function () {
            data.name = customerId; // 별명
            data.msg = $("#msg").val();  // 입력한 메시지

            let chatMsg = JSON.stringify(data); // 데이터 구조를 JSON 형태로 변경하기

            ws.send(chatMsg); // 채팅 메시지 전송하기

            $("#msg").val("") // 채팅 메시지 전송 후, 입력한 채팅내용 지우기
        })
    });
</script>
</body>

</html>