<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI - 후기 관리</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/vendors/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/vendors/rater-js/style.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>
<div id="app">
    <div th:replace="sidebar.html"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <!-- Hoverable rows start -->
        <section class="section" style="text-align: center">
            <div class="row" id="table-hover-row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="card col-md">
                        <div class="card-header">
                            <h4 class="card-title">리뷰 정보</h4>
                            <div class="buttons" style="float: right"><a onclick="doDelete()" class="btn btn-light-secondary me-1 mb-1">삭제</a></div>
                        </div>
                        <div class="card-content">
                            <!-- table hover -->
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>상품명</th>
                                        <th>구매자</th>
                                        <th>점수</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="dto : ${rList}">
                                    <tr >
                                        <td style="width: 10%"><input type="checkbox" name="choose" th:value="${dto.reviewNumber}"></td>
                                        <td th:text="${dto.goodsName}"></td>
                                        <td th:text="${dto.customerId}"></td>
                                        <td th:text="${dto.score}"></td>
                                    </tr>
                                    <tr>
                                        <td>리뷰</td>
                                        <td th:text="${dto.contents}" colspan="3"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br/>
                        <!-- 페이지네이션 영역-->
                        <div class="mx-auto">
                            <ul class="pagination pagination-primary" id="pagination">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/review/reviewMng?page=1}">&laquo;</a>
                                </li>
                                <!-- 이전 페이지로 이동하는 링크 -->
                                <li class="page-item" th:if="${currentPage > 1}">
                                    <a class="page-link" th:href="@{/review/reviewMng(page=${currentPage - 1})}">&lt;</a>
                                </li>
                                <!-- 현재 페이지 주변에 페이지 번호 링크 표시 -->
                                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage ? 'active' : ''}">
                                    <a class="page-link" th:href="@{/review/reviewMng(page=${pageNumber})}" th:text="${pageNumber}"></a>
                                </li>
                                <!-- 다음 페이지로 이동하는 링크 -->
                                <li class="page-item" th:if="${currentPage < totalPages}">
                                    <a class="page-link" th:href="@{/review/reviewMng(page=${currentPage + 1})}">&gt;</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/review/reviewMng(page=${totalPages})}">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hoverable rows end -->

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
    <!-- jQuery 라이브러리 추가 -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/extensions/sweetalert2.js"></script>
    <script src="/assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/assets/js/move.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        const id = /*[[${session.SS_ID}]]*/ '';


        $(document).ready(function () {
            $("#btnDelete").on("click", function () {
                doDelete();
            })
        });

        function doDelete() {
            var selectedSeqs = []; // 선택된 체크박스 값들을 저장할 배열

            // 모든 체크박스 엘리먼트를 선택
            var checkboxes = document.getElementsByName("choose");

            console.log(checkboxes);
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedSeqs.push(checkboxes[i].value);
                    console.log("Checkbox " + i + "의 value 값: " + checkboxes[i].value);
                }
            }
            console.log(selectedSeqs);



                if (confirm("선택한 리뷰들을 전부 삭제하시겠습니까?")) {
                    $.ajax({
                            url: "/review/deleteReview",
                            type: "post", // 전송방식은 Post
                            dataType: "JSON", // 전송 결과는 JSON으로 받기
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(selectedSeqs), // JSON 데이터로 변환
                            success: function (json) {

                                if (json.result === 1) { // 로그인 성공
                                    alert(json.msg); // 메시지 띄우기
                                    location.reload();
                                } else { // 로그인 실패
                                    alert(json.msg); // 메시지 띄우기
                                }

                            }
                        }
                    )
                }

        }
    </script>
</body></html>