<!-- navigation part -->
<section class="section">
    <div class="card" style="margin: 0 auto">
        <div class="card-body" style="background: #fffaea">
            <ul class="nav" style="display: flex; justify-content: space-between; padding-left: 50px; padding-right: 50px">
                <li class="nav-item">
                    <div>
                        <a href="/post/postList"><i class="fa-solid"  style="font-family: BMJUA,serif; font-size: 20px; color: black"> 커뮤니티</i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a href="/customer/map"><i class="fa-solid" style="font-family: BMJUA,serif; font-size: 20px; color: black"> 지도</i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a href="/coupon/coupon"><i class="fa-solid"  style="font-family: BMJUA,serif; font-size: 20px; color: black"> 쿠폰</i></a>
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a href="/customer/cart">
                            <i class="fa-solid" style="font-family: BMJUA,serif; font-size: 20px; color: black" > 장바구니</i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a href="/customer/customerInfo"><i class="fa-solid" style="font-family: BMJUA,serif; font-size: 20px; color: black"> 마이페이지</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!---------------------------------------->