<!-- 왼쪽 navigation var 코드 -->
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a id="index"><img src="/assets/images/bird/logo2.png" style="width: 200px; height: 130px" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">MENU</li>

                <li class="sidebar-item active ">
                    <a id="traderIndex" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>한눈에 보기</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>내 상점</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a id="shopInfo">상점 정보</a>
                        </li>
                        <li class="submenu-item ">
                            <a id="traderInfo">상인 정보</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>상품관리</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a id="goodsMng">상품 관리</a>
                        </li>
                        <li class="submenu-item ">
                            <a id="reviewMng">리뷰 관리</a>
                        </li>
                        <li class="submenu-item">
                            <a id="goodsBuyInfo">구매 대기</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a id="reservMng" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>예약관리</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a id="chat" class='sidebar-link'>
                        <i class="bi bi-file-earmark-medical-fill"></i>
                        <span>채팅</span>
                    </a>
                </li>


                <li class="sidebar-item  ">
                    <a id="customerService" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>고객센터</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
<!------------------------------------------>