<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI - 고객센터</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="../static/assets/images/favicon.svg" type="image/x-icon">

</head>

<body>
<div id="app">
    <div th:replace="sidebar.html"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>고객센터</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="traderIndex">메인</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Basic Tables start -->
            <section class="section">
                <div class="row" id="basic-table">
                    <div class="col-12 col-md-6">
                        <div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">TMI 카카오톡 채널</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <p class="card-text">채널에 방문해서 1:1 채팅으로 궁금한 점을 물어보세요!
                                        </p>
                                        <!-- Table with outer spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-lg">
                                                <thead>
                                                <tr>
                                                    <th>TMI</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="text-bold-500"><button type="button" id="channel" style="border: none; background-color: white"><img src="/assets/images/kakaoChannelLogo.png" style="width: 50px; height: 50px"></button></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500" style="text-align: center"><img src="/assets/images/channelTMI.png" style="width: 370px; height: 700px"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">자주 묻는 질문</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <p class="card-text">더 빠르게 해결해보세요!
                                        </p>
                                        <!-- Table with outer spacing -->
                                        <div class="table-responsive">
                                            <table class="table table-lg">
                                                <thead>
                                                <tr>
                                                    <th>질문</th>
                                                    <th>답변</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="text-bold-500">별의 알렉산더는 최준상인가요?</td>
                                                    <td>네. 맞습니다.</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">서류쓰기 귀찮아요</td>
                                                    <td>토달지말고 쓰세요</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">최준상 오언 짝발 나이스!</td>
                                                    <td>ㅋㅋ ㄱㅇㄷ</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">퀘스천</td>
                                                    <td>앤썰</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-bold-500">질문</td>
                                                    <td>답</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.4.0/kakao.min.js"
        integrity="sha384-mXVrIX2T/Kszp6Z0aEWaA8Nm7J6/ZeWXbL8UpGRjKwWe56Srd/iyNmWMBhcItAjH" crossorigin="anonymous"></script>
<script>Kakao.init('fc6476b35f170899394cfb682f1205de');</script>
<script src="/assets/js/move.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#channel").on("click", function () {
            if (!Kakao.isInitialized()) {
                Kakao.init('fc6476b35f170899394cfb682f1205de');
            }
            Kakao.Channel.addChannel({
                channelPublicId: '_ZEMxbG' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
            });
        });
    });
</script>
</body>

</html>