<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI - 상품 상세정보</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">

    <script type="text/javascript">

        //상세보기 이동
        function doEdit(element) {
            var seq = element.getAttribute("data-seq");
            location.href = "/trader/goodsMngInsert?nSeq=" + seq;
        }
        function review(element) {
            var seq = element.getAttribute("data-seq");
            location.href = "/trader/reviewMng?nSeq=" + seq;
        }
        //삭제하기
        function doDelete(element) {
            var seq = element.getAttribute("data-seq");
            console.log(seq);

                if (confirm("작성한 상품을 삭제하시겠습니까?")) {
                    $.ajax({
                            url: "/trader/goodsMsgDelete",
                            type: "post", // 전송방식은 Post
                            dataType: "JSON", // 전송 결과는 JSON으로 받기
                            data: {"seq": seq}, // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                            success: function (json) { // /notice/noticeUpdate 호출이 성공했다면..

                                if (json.result === 1) { // 로그인 성공
                                    alert(json.msg); // 메시지 띄우기
                                    location.href = "/trader/goodsMng"; // 로그인 성공 페이지 이동

                                } else { // 로그인 실패
                                    alert(json.msg); // 메시지 띄우기
                                }

                            }
                        }
                    )
                }
        }

    </script>
</head>

<body>
<div id="app">
    <!-- 왼쪽 navigation var 코드 -->
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a id="index"><img src="/assets/images/bird/logo2.png" style="width: 200px; height: 130px" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">MENU</li>

                    <li class="sidebar-item active ">
                        <a id="traderIndex" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>한눈에 보기</span>
                        </a>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>내 상점</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a id="shopInfo">상점 정보</a>
                            </li>
                            <li class="submenu-item ">
                                <a id="traderInfo">상인 정보</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>상품관리</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a id="goodsMng">상품 관리</a>
                            </li>
                            <li class="submenu-item ">
                                <a id="reviewMng">리뷰 관리</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a id="reservMng" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>예약관리</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a id="chat" class='sidebar-link'>
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span>채팅</span>
                        </a>
                    </li>


                    <li class="sidebar-item  ">
                        <a id="customerService" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>고객센터</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <!------------------------------------------>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div>
                <div class="buttons" style="float: right"><a href="goodsMng" class="btn btn-primary">목록</a></div>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last mx-auto text-center">
                            <h3>상품 정보</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-content" style="padding: 10px">
                            <div class="card-body">
                                <h4 class="card-title" style="text-align: center">[[${rDTO.name}]]</h4>
                            </div>
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" th:if="${not #strings.isEmpty(rDTO.image)}">
                                        <img th:src="${rDTO.image}" class="d-block w-100" style="height:380px">
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    [[${rDTO.price}]]
                                </div>
                                <div class="card-text">
                                    [[${rDTO.type}]]
                                </div>
                                <div class="card-text">
                                    [[${rDTO.des}]]
                                </div>
                                <br>
                                <div class="buttons" style="float: left"><a th:attr="data-seq=${rDTO.seq}" onclick="review(this)" class="btn btn-primary">수정</a></div>
                                <div class="buttons" style="float: right"><a th:attr="data-seq=${rDTO.seq}" onclick="doDelete(this)" class="btn btn-light-secondary me-1 mb-1">삭제</a></div>
                                <div class="buttons" style="float: right"><a th:attr="data-seq=${rDTO.seq}" onclick="doEdit(this)" class="btn btn-primary">수정</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
    <!-- jQuery 라이브러리 추가 -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#index").on("click", function () {
                location.href = "/trader/traderIndex";
            })

            $("#traderIndex").on("click", function () {
                location.href = "/trader/traderIndex";
            })

            $("#shopInfo").on("click", function () {
                location.href = "/trader/shopInfo";
            })

            $("#traderInfo").on("click", function () {
                location.href = "/trader/traderInfo";
            })

            $("#goodsMng").on("click", function () {
                location.href = "/trader/goodsMng";
            })

            $("#reviewMng").on("click", function () {
                location.href = "/trader/reviewMng";
            })

            $("#reservMng").on("click", function () {
                location.href = "/trader/reservMng";
            })

            $("#chat").on("click", function () {
                location.href = "/chat/intro";
            })

            $("#customerService").on("click", function () {
                location.href = "/trader/customerService";
            })
        });
    </script>
</body>

</html>