<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI - 예약 관리</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="../static/assets/images/favicon.svg" type="image/x-icon">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#index").on("click", function () {
                location.href = "/trader/traderIndex";
            })

            $("#traderIndex").on("click", function () {
                location.href = "/trader/traderIndex";
            })

            $("#shopInfo").on("click", function () {
                location.href = "/trader/shopInfo";
            })

            $("#traderInfo").on("click", function () {
                location.href = "/trader/traderInfo";
            })

            $("#goodsMng").on("click", function () {
                location.href = "/trader/goodsMng";
            })

            $("#reviewMng").on("click", function () {
                location.href = "/trader/reviewMng";
            })

            $("#reservMng").on("click", function () {
                location.href = "/trader/reservMng";
            })

            $("#chat").on("click", function () {
                location.href = "/chat/intro";
            })

            $("#customerService").on("click", function () {
                location.href = "/trader/customerService";
            })
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                locale: 'ko',
                initialView: 'dayGridMonth', // 홈페이지에서 다른 형태의 view를 확인할  수 있다.
                events: [ // 일정 데이터 추가 , DB의 event를 가져오려면 JSON 형식으로 변환해 events에 넣어주면된다.
                    {
                        title: '일정',
                        start: '2023-10-23',
                        end: '2023-10-27'
                    }
                ],
                headerToolbar: {
                   center: 'addEventButton'
                },
                customButtons: {
                    addEventButton: { // 추가한 버튼 설정
                        text: "일정 추가", // 버튼 내용
                        click: function() { // 버튼 클릭 시 이벤트 추가
                            $("#calendarModal").modal("show"); // modal 나타내기

                            $("#addCalendar").on("click", function() { // modal의 추가 버튼 클릭 시
                                let customer = $("#customer").val();
                                let date = $("#date").val();
                                let content = $("#content").val();
                                let price = $("#price").val()

                                //내용 입력 여부 확인
                                if (content == null || content == "") {
                                    alert("내용을 입력하세요.");
                                } else if (date == null || date == "") {
                                    alert("날짜를 입력하세요.");
                                } else if (customer == null || customer == " ") {
                                    alert("예약자를 입력하세요.");
                                } else if (price == null || price == " ") {
                                    alert("가격을 입력하세요.")
                                } else { // 정상적인 입력 시
                                    let obj = {
                                        "customer": customer,
                                        "date": date,
                                        "content": content,
                                        "price": price
                                    }; //전송할 객체 생성

                                    console.log(obj); //서버로 해당 객체를 전달해서 DB 연동 가능
                                }
                            });
                        }
                    }
                },
                editable: true // false로 변경 시 draggable 작동 x
            });
            calendar.render();
        });
    </script>
</head>

<body>
<div id="app">
    <!-- 왼쪽 navigation var 코드 -->
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a id="index"><img src="/assets/images/bird/logo2.png" style="width: 200px; height: 130px" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">MENU</li>

                    <li class="sidebar-item active ">
                        <a id="traderIndex" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>한눈에 보기</span>
                        </a>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>내 상점</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a id="shopInfo">상점 정보</a>
                            </li>
                            <li class="submenu-item ">
                                <a id="traderInfo">상인 정보</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>상품관리</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a id="goodsMng">상품 관리</a>
                            </li>
                            <li class="submenu-item ">
                                <a id="reviewMng">리뷰 관리</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a id="reservMng" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>예약관리</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a id="chat" class='sidebar-link'>
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span>채팅</span>
                        </a>
                    </li>


                    <li class="sidebar-item  ">
                        <a id="customerService" class='sidebar-link'>
                            <i class="bi bi-grid-1x2-fill"></i>
                            <span>고객센터</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <!------------------------------------------>

    <!-- 메인 페이지 html -->
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <div id='calendar'></div>

        <!-- modal 추가 -->
        <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">예약일정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">예약자</label>
                            <input type="text" class="form-control" id="customer" name="customer">
                            <label class="col-form-label">예약일</label>
                            <input type="date" class="form-control" id="date" name="date">
                            <label class="col-form-label">예약내용</label>
                            <input type="text" class="form-control" id="content" name="content">
                            <label class="col-form-label">가격</label>
                            <input type="text" class="form-control" id="price" name="price">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="addCalendar">추가</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="sprintSettingModalClose">취소</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- -->

    <!-- footer -->
    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a></p>
            </div>
        </div>
    </footer>
    <!-- -->
</div>
    <!-- jQuery 라이브러리 추가 -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#index").on("click", function () {
                location.href = "/trader/traderIndex";
            })

            $("#traderIndex").on("click", function () {
                location.href = "/trader/traderIndex";
            })

            $("#shopInfo").on("click", function () {
                location.href = "/trader/shopInfo";
            })

            $("#traderInfo").on("click", function () {
                location.href = "/trader/traderInfo";
            })

            $("#goodsMng").on("click", function () {
                location.href = "/trader/goodsMng";
            })

            $("#reviewMng").on("click", function () {
                location.href = "/trader/reviewMng";
            })

            $("#reservMng").on("click", function () {
                location.href = "/trader/reservMng";
            })

            $("#chat").on("click", function () {
                location.href = "/chat/intro";
            })

            $("#customerService").on("click", function () {
                location.href = "/trader/customerService";
            })
        });
    </script>
</body>

</html>