<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMI - 상점 정보</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font.css">
    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="../static/assets/images/favicon.svg" type="image/x-icon">

    <script type="text/javascript">
        //상세보기 이동
        function doEdit() {
            location.href = "/trader/updateShopInfo"
        }

    </script>
</head>

<body>
<div id="app">
    <div th:replace="sidebar.html"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <div class="page-heading">
            <div>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last mx-auto text-center">
                            <h3>상점 정보</h3>
                            <p class="text-subtitle text-muted">[[${rDTO.marketName}]]</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-content" style="padding: 10px">
                            <div class="card-body">
                                <h4 class="card-title" style="text-align: center">[[${rDTO.shopName}]]</h4>
                                <h6 class="card-subtitle" style="text-align: center">[[${rDTO.traderName}]]</h6>
                            </div>
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" th:if="${not #strings.isEmpty(rDTO.image)}">
                                        <img th:src="${rDTO.image}" class="d-block w-100" style="height:380px">
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-control">
                                    [[${rDTO.shopDescription}]]
                                </div>
                                <br>
                                <div class="buttons" style="float: right"><a
                                        th:attr="onclick='doEdit(\'' + ${rDTO.traderId} + '\')'"
                                        class="btn btn-primary">수정</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                            href="http://ahmadsaugi.com">A. Saugi</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- jQuery 라이브러리 추가 -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/move.js"></script>
</body>

</html>