<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IBasketMapper">
    <!-- 장바구니에 담기 쿼리 -->
    <insert id="addBasket" parameterType="BasketDTO">
        INSERT INTO BASKET (BASKET_NUMBER, CUSTOMER_ID, GOODS_NUMBER,PRICE, QUANTITY, GOODS_NAME, GOODS_IMAGE)
        VALUES ((SELECT IFNULL(MAX(A.BASKET_NUMBER), 0) + 1 FROM BASKET A), #{customerId}, #{goodsNumber}, #{price}, #{quantity}, #{goodsName}, #{goodsImage})
    </insert>

    <!-- 장바구니 목록 조회 -->
    <select id="getBasketList" parameterType="BasketDTO" resultType="BasketDTO">
        SELECT BASKET_NUMBER, CUSTOMER_ID, GOODS_NUMBER, PRICE, QUANTITY, GOODS_NAME, GOODS_IMAGE
        FROM BASKET
        WHERE CUSTOMER_ID = #{customerId}
        ORDER BY GOODS_NUMBER DESC
    </select>
</mapper>