<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.ICustomerMapper">
    <select id="getCustomerIdExists" parameterType="CustomerDTO" resultType="CustomerDTO">
        SELECT IF(COUNT(1) = 0, 'N', 'Y') AS EXISTS_YN
        FROM BUYER
        WHERE ID = #{id}
    </select>
    <insert id="insertCustomer" parameterType="CustomerDTO">
        INSERT INTO BUYER (ID, PW, NAME, AGE, PN, TYPE)
        VALUES (#{id}, #{pw}, #{name}, #{age}, #{pn}, #{type})
    </insert>
    <select id="getLogin" parameterType="CustomerDTO" resultType="CustomerDTO">
        SELECT ID
        FROM BUYER
        WHERE ID = #{id}
        AND PW = #{pw}
    </select>
    <select id="getCustomerInfo" parameterType="CustomerDTO" resultType="CustomerDTO">
        SELECT NAME, PN, AGE, TYPE
        FROM BUYER
        WHERE ID = #{id}
    </select>
    <update id="changeCustomer" parameterType="CustomerDTO">
        UPDATE BUYER
        SET NAME = #{name},
            PN = #{pn},
            AGE = #{age},
            TYPE = #{type}
        WHERE ID = #{id}
    </update>
    <select id="getCustomerId" parameterType="CustomerDTO" resultType="CustomerDTO">
        SELECT ID
        FROM BUYER
        WHERE  EMAIL = #{email}
    </select>
    <update id="changePw" parameterType="CustomerDTO">
        UPDATE BUYER
        SET PW = #{pw}
        WHERE ID = #{id}
    </update>
    <select id="getEmailExists" parameterType="CustomerDTO" resultType="CustomerDTO">
        SELECT IF(COUNT(1) = 0, 'N', 'Y')  AS EXISTS_YN
        FROM BUYER
        WHERE EMAIL = #{email}
    </select>

</mapper>