<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.INoticeMapper">

    <select id="getNoticeList" resultType="NoticeDTO">
        SELECT SEQ, TITLE, NOTICE_YN, READ_CNT, SENDER,
                DATE_FORMAT(REG_DT, '%Y/%m/%d') AS REG_DT
            FROM NOTICE
        ORDER BY SEQ DESC
    </select>

    <insert id="insertNoticeInfo" parameterType="NoticeDTO">
        INSERT INTO NOTICE
        (SEQ, TITLE, NOTICE_YN, CONTENTS, SENDER, READ_CNT,
          REG_DT, IMAGE)
        VALUES (
               (SELECT IFNULL(MAX(A.SEQ),0)+1 FROM NOTICE A),
               #{title}, #{noticeYn}, #{contents}, #{sender}, 0, NOW(), #{image}
            )
    </insert>

    <select id="getNoticeInfo" resultType="NoticeDTO">
        SELECT SEQ, TITLE, NOTICE_YN, READ_CNT, SENDER,
               CONTENTS, IMAGE, DATE_FORMAT(REG_DT, '%Y/%m/%d %H:%i:%s') AS REG_DT
        FROM NOTICE
        WHERE SEQ = #{seq}
    </select>

    <select id="getNoticeSeq" resultType="String">
        SELECT IFNULL(MAX(A.SEQ),0)+1
        FROM NOTICE A
    </select>

    <update id="updateNoticeReadCnt" parameterType="NoticeDTO">
        UPDATE NOTICE SET
            READ_CNT = READ_CNT + 1
        WHERE
            SEQ = #{seq}
    </update>
    <update id="updateNoticeInfo" parameterType="NoticeDTO">
        UPDATE NOTICE SET
                          TITLE = #{title},
                          NOTICE_YN = #{noticeYn},
                          CONTENTS = #{contents},
                          REG_DT = NOW(),
                          IMAGE = #{image}
        WHERE
            SEQ = #{seq}
    </update>
    <delete id="deleteNoticeInfo" parameterType="NoticeDTO">
        DELETE FROM NOTICE
        WHERE
            SEQ = #{seq}
    </delete>
</mapper>